{% extends "base.html.twig" %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap-grid.css') }}">
    <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap-reboot.css') }}">
    <link rel="stylesheet" href="{{ asset('/awesomplete/awesomplete.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/base/header-xl.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/base/footer-xl.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/base/header-xl.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/login/login-xl.css') }}">
{% endblock %}

{% block body %} 

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<h1>Connexion</h1>

<form action="{{ path('security_login') }}" method="post">
    <label for="username">Email:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}"/>

    <label for="password">Mot de passe:</label>
    <input type="password" id="password" name="_password" /> 

    <input type="checkbox" id="remember_me" name="_remember_me" checked />
    <label for="remember_me">Se souvenir de moi</label>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    
    <button type="submit">Se connecter</button>
</form>

<a href="{{ path('security_signup') }}">Créer un compte</a>
<p>Liens provisoire</p>
<a href="{{ path('home_page') }}">Page d'acceuil</a>
<a href="{{ path('security_logout') }}">Se déconnecter</a>
<a href="{{ path('admin') }}">Admin</a>

{% endblock %}
