{% extends "base.html.twig" %}

{% block body %}

    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        {{ form_row(form.termsOfUse) }}

        <button type="submit">Créer un compte</button>
    {{ form_end(form) }}
    
{% endblock %}