{% extends "base.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('/nao/css/validation/validations.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/validation/validations-mobile.css') }}">
{% endblock %}

{% block body %}

    <div class="row" id="titre-bar-mobile">
        <div class="col-12"><h1>MODIFIER UNE OBSERVATION</h1></div>
    </div>

    <div class="row" id="title">
        <div class="col-xl-1 col-lg-1 col-md-0 col-xs-0 space-bar"></div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-xs-12 titre-bar-pc" id="titre-bar">
            <h1>MODIFIER UNE OBSERVATION</h1>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-0 col-xs-0"></div>
    </div>


    <div class="row" id="modifier-content">
        <div class="col-xl-2 col-lg-1 col-md-2 col-sm-1 col-xs-1"></div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-5 col-xs-3">
            <div class="row">
                <div class="col-12">
                    <p class="titre-photo-modification">Photo</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <img  class="photo-observation" src="/img/observations/{{ observation.image }}" alt="">
                </div>
            </div>
        </div>
        <div class="col-xl-5 col-lg-6 col-md-4 col-sm-5 col-xs-5">
            <div class="form-group">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                    {{ form_row(form.commonName, {'label': 'Nom commun de l\'oiseau'}) }}
                    <label for="disabled">Observé le</label>
                    <input class="date-disable" id="disabled" name="disabled" value="{{ observation.date|date("d/m/Y") }}"disabled/>
                    {{ form_row(form.content, {'label': 'Autres informations'}) }}
                    <button type="submit" class="btn-success bouton-validation">
                        VALIDER L'OBSERVATION<i class="fas fa-pencil-alt fa-1x"></i>
                    </button>
                {{ form_end(form) }}
            </div>
            <div>
                <a class="action-link" href="{{ path('naturalist_obs_remove', {'id': observation.id }) }}">
                    <button class="btn-danger bouton-validation">SUPPRIMER L'OBSERVATION <i class="fas fa-trash-alt fa-1x"></i></button>
                </a>

                <a class="action-link" href="{{ path('naturalist_validations') }}">
                    <button class="btn-secondary bouton-validation">RETOUR <i class="fas fa-share-square fa-1x"></i></button>
                </a>
            </div>
        </div>
        <div class="col-xl-2 col-lg-1 col-md-2 col-sm-1 col-xs-1"></div>
    </div>

    <script src="{{ asset('/awesomplete/awesomplete.js') }}"></script>
    <script src="{{ asset('/awesomplete/modifyObsName.js') }}"></script>
    <script src="{{ asset('/nao/javascript/observe.js') }}"></script>
{% endblock %}

