{% extends "base.html.twig" %} 

{% block body %}

    <h1>Validation</h1>

    {% if observations is empty %}
        <p> Pas d'observation à valider</p>
     {% endif %}

    {% for observation in observations %}
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <img src="/img/observations/{{ observation.image }}" alt="" width="50px">
                    </td>
                    <td>Nom commun: {{ observation.commonName }} </td>
                    <td>Observé le: {{ observation.date|date("m/d/Y") }} </td>
                    <td>latitude: {{ observation.latitude }} </td>
                    <td>latitude: {{ (observation.longitude) }} </td>
                    <td>Comentaire: {{ observation.content }} </td>
                    <td>{{ observation.isValid }}</td>
                </tr>

                <tr>
                    <td>
                        <a href="{{ path('naturalist_valid_obs', {'id': observation.id }) }}">
                            <button type="submit" class="btn btn-success">Valider</button>
                        </a>
                    </td>
                    <td>
                        <a href="#"><button class="btn btn-secondary">Modifier</button></a>
                    </td>
                    <td>
                        <a href="#"><button class="btn btn-danger">Supprimer</button></a>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endfor %}

{% endblock %}
