{% extends "base.html.twig" %} 

{% block body %}

    <h1>Validation</h1>

    {% for message in app.flashes('alert alert-warning alert-dismissible fade show') %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    {% if observations is empty %}
        <p> Pas d'observation à valider</p>
     {% endif %}

    {% for observation in observations %}
        <table class="table">
            <tbody>
                <tr>
                    <th>Photo</th>
                    <th>Nom Commun</th>
                    <th>Observé le</th>
                    <th>Autres informations</th>
                </tr>
                <tr>
                    <td><img src="/img/observations/{{ observation.image }}" alt="" width="50px"></td>
                    <td>{{ observation.commonName }}</td>
                    <td>{{ observation.date|date("m/d/Y") }}</td>
                    <td>{{ observation.content }}</td>
                    <td>{{ observation.isValid }}</td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ path('naturalist_obs_valid', {'id': observation.id }) }}">
                            <button class="btn btn-success">Valider</button>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('naturalist_obs_modify', {'id': observation.id }) }}">
                            <button class="btn btn-secondary">Modifier</button>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('naturalist_obs_remove', {'id': observation.id }) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endfor %}

{% endblock %}
