<footer>
    <div class="row background-footer">
        <div class="col-xl-2 col-lg-2" id="menu1">
            <a href="{{ path('about') }}" class="footer-liens">A propos</a>
            <a class="footer-liens" href="{{ path('blog') }}">Blog</a>
            <a class="footer-liens" href="{{ path('faq') }}">F.A.Q.</a>
        </div>
        <div class="col-xl-2 col-lg-2" id="menu2">
            <a class="footer-liens" href="{{ path('plan-du-site') }}">Plan du site</a>
            <a class="footer-liens" href="{{ path('contact') }}">Contact</a>
            <a class="footer-liens" href="{{ path('admin') }}">Administration</a>
        </div>
        <div class="col-xl-3 col-lg-3" id="musee-partenaire">
            <h2 class="titre-footer">Partenaire</h2>
            <div class="row">
                <div class="col-12" id="logo-musee">
                    <img class="musee" src="{{ asset('/img/LogoMNHN.png') }}">
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-2" id="social-icone">
            <h2 class="titre-footer">Restez Connecté</h2>
            <div class="row">
                <div class="col-12" id="reseau-sociaux">
                    <a href="facebook.com"><img class="facebook" src="{{ asset('/img/FB.png') }}" onmouseover="this.src='{{ asset('/img/FB_hover.png') }}'" onmouseout="this.src='{{ asset('/img/FB.png') }}'"></a>
                    <div class="youtube"><a href="youtube.com"><img src="{{ asset('/img/ytube.png') }}" onmouseover="this.src='{{ asset('/img/ytube_hover.png') }}'" onmouseout="this.src='{{ asset('/img/ytube.png') }}'"></a></div>
                    <a href="instagram.com"><img class="instagram" src="{{ asset('/img/insta.png') }}" onmouseover="this.src='{{ asset('/img/insta_hover.png') }}'" onmouseout="this.src='{{ asset('/img/insta.png') }}'"></a>
                </div>
            </div>
        </div>
        <div class="col-xl-1 col-lg-1"></div>
        <div class="col-xl-2 col-lg-2" id="newsletter-formulaire">
            <h2 class="titre-footer">Restez informé</h2>
            {{ render(controller( 'App\\Controller\\NAO\\NewsletterController::index')) }}
        </div>
    </div>
    <div class="row background-footer">
        <div class="col-12" id="cookie">
            <p id="texte-coockie">Ce site utilise des cookies pour vous offrir le meilleur service. En poursuivant votre navigation, vous acceptez l'utilisation des cookies</p>
            <a class="cookie-link"><button class="cookie-button">J'ACCEPTE</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col-12" id="copyright">
            <p>Copyright 2018 - Nos amis les oiseaux - propulsé par Caméléon -
                <a href="#">Mentions Légales</a>
            </p>
        </div>
    </div>
</footer>

