<header>
    <div class="container-fluid" id="header-container">
        <div class="row">
            <div class="col-md-2" id="header-logo">
                <img class="logo" src="{{ asset('/img/logoNAO.png') }}">
            </div>
            <div class="col-md-10">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-1 menu"></div>
                        <div class="col-md-1 menu" id="item-menu1">
                            <a href="{{ path('about') }}">
                                <button>
                                    <i class="fa fa-file-alt fa-3x" style="color: white"></i>
                                    <br>
                                    <br>A PROPOS</button>
                            </a>
                        </div>
                        <div class="col-md-1 menu" id="item-menu2">
                            <a href="{{ path('join_us') }}">
                                <button>
                                    <i class="fas fa-pencil-alt fa-3x" style="color: white"></i>
                                    <br>
                                    <br>ADHERER</button>
                            </a>
                        </div>
                        <div class="col-md-1 menu" id="item-menu3">
                            <a href="{{ path('observe') }}">
                                <button>
                                    <i class="fas fa-eye fa-3x" style="color: white"></i>
                                    <br>
                                    <br>OBSERVER</button>
                            </a>
                        </div>
                        <div class="col-md-1 menu" id="item-menu4">
                            <a href="{{ path('map') }}">
                                <button>
                                    <i class="fas fa-map-marker-alt fa-3x" style="color: white"></i>
                                    <br>
                                    <br>CARTE</button>
                            </a>
                        </div>
                        <div class="col-md-1 menu" id="item-menu5">
                            <a href="{{ path('blog') }}">
                                <button>
                                    <i class="fas fa-comment-alt fa-3x" style="color: white"></i>
                                    <br>
                                    <br>BLOG</button>
                            </a>
                        </div>
                        <div class="col-md-1 menu" id="item-menu6">
                            <a href="{{ path('faq') }}">
                                <button>
                                    <i class="fas fa-question-circle fa-3x" style="color: white"></i>
                                    <br>
                                    <br>F.A.Q's</button>
                            </a>
                        </div>
                        <div class="col-md-1 menu" id="item-menu7">
                            <a href="{{ path('contact') }}">
                                <button>
                                    <i class="fas fa-envelope fa-3x" style="color: white"></i>
                                    <br>
                                    <br>CONTACT</button>
                            </a>
                        </div>
                        <div class="col-md-1 menu"></div>
                        <div class="col-md-1 menu" id="item-menu8">
                            <a href="{{ path('security_login') }}">
                                <button>
                                    <i class="fas fa-user fa-3x" style="color: white"></i>
                                    <br>
                                    <br>CONNEXION</button>
                            </a>
                        </div>
                        <div class="col-md-1 menu" id="item-menu9">
                            <a href="#">
                                <button>
                                    <i class="fas fa-search fa-3x" style="color: white"></i>
                                    <br>
                                    <br>RECHERCHE</button>
                            </a>
                        </div>
                        <div class="col-md-1 menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
