<header>
    <div class="container-fluid" id="header-container">
        <div class="row">
            <div class="col-md-2" id="header-logo">
                <img class="logo" src="{{ asset('/img/logoNAO.png') }}">
            </div>
            <div class="col-md-10">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-1 menu"></div>
                        <div class="col-md-1 menu" id="item-menu1">
                            <a href="{{ path('about') }}">
                                <button id="bouton1">
                                    <i class="fa fa-file-alt fa-3x" style="color: white"></i>
                                    <br>
                                    <br>A PROPOS
                                </button>
                            </a>
                        </div>
                        <div class="col-md-1 menu" id="item-menu2">
                            <a href="{{ path('join_us') }}">
                                <button id="bouton2">
                                    <i class="fas fa-pencil-alt fa-3x" style="color: white"></i>
                                    <br>
                                    <br>ADHERER
                                </button>
                            </a>
                        </div>
                        <div class="col-md-1 menu" id="item-menu3">
                            <a href="{{ path('observe') }}">
                                <button id="bouton3">
                                    <i class="fas fa-eye fa-3x" style="color: white"></i>
                                    <br>
                                    <br>OBSERVER
                                </button>
                            </a>
                        </div>
                        <div class="col-md-1 menu" id="item-menu4">
                            <a href="{{ path('map') }}">
                                <button id="bouton4">
                                    <i class="fas fa-map-marker-alt fa-3x" style="color: white"></i>
                                    <br>
                                    <br>CARTE
                                </button>
                            </a>
                        </div>
                        <div class="col-md-1 menu" id="item-menu5">
                            <a href="{{ path('blog') }}">
                                <button id="bouton5">
                                    <i class="fas fa-comment-alt fa-3x" style="color: white"></i>
                                    <br>
                                    <br>BLOG
                                </button>
                            </a>
                        </div>
                        <div class="col-md-1 menu" id="item-menu6">
                            <a href="{{ path('faq') }}">
                                <button id="bouton6">
                                    <i class="fas fa-question-circle fa-3x" style="color: white"></i>
                                    <br>
                                    <br>F.A.Q's
                                </button>
                            </a>
                        </div>
                        <div class="col-md-1 menu" id="item-menu7">
                            <a href="{{ path('contact') }}">
                                <button id="bouton7">
                                    <i class="fas fa-envelope fa-3x" style="color: white"></i>
                                    <br>
                                    <br>CONTACT
                                </button>
                            </a>
                        </div>
                        <div class="col-md-1 menu"></div>
                        <div class="col-md-1 menu" id="item-menu8">
                            <a href="{{ path('security_login') }}">
                                <button id="bouton8">
                                    <i class="fas fa-user fa-3x" style="color: white"></i>
                                    <br>
                                    <br>CONNEXION
                                </button>
                            </a>
                        </div>
                        <div class="col-md-1 menu" id="item-menu9">
                            <a href="">
                                <button id="bouton9">
                                    <i class="fas fa-search fa-3x" style="color: white"></i>
                                    <br>
                                    <br>RECHERCHE
                                </button>
                            </a>
                        </div>
                        <div class="col-md-1 menu"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 offset-1 menu-barre" id="item-barre1"></div>
                        <div class="col-md-1 menu-barre" id="item-barre2"></div>
                        <div class="col-md-1 menu-barre" id="item-barre3"></div>
                        <div class="col-md-1 menu-barre" id="item-barre4"></div>
                        <div class="col-md-1 menu-barre" id="item-barre5"></div>
                        <div class="col-md-1 menu-barre" id="item-barre6"></div>
                        <div class="col-md-1 menu-barre" id="item-barre7"></div>
                        <div class="col-md-1"></div>
                        <div class="col-md-1 menu-barre" id="item-barre8"></div>
                        <div class="col-md-1 menu-barre" id="item-barre9"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
