<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap-reboot.css') }}">
            <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap-grid.css') }}">
            <link rel="stylesheet" href="{{ asset('/bootstrap/css/mdb.css') }}">
            <link rel="stylesheet" href="{{ asset('/fontawesome/web-fonts-with-css/css/fontawesome-all.css') }}">
            <link rel="stylesheet" href="{{ asset('/nao/css/base/font.css') }}">
            <link rel="stylesheet" href="{{ asset('/nao/css/base/base.css') }}">
            <link rel="stylesheet" href="{{ asset('/nao/css/base/header.css') }}">
            <link rel="stylesheet" href="{{ asset('/nao/css/base/header-mobile.css') }}">
            <link rel="stylesheet" href="{{ asset('/nao/css/base/footer.css') }}">
            <link rel="stylesheet" href="{{ asset('/nao/css/base/footer-mobile.css') }}">
        {% endblock %}

        {% block css %} {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('/bootstrap/js/mdb.js') }}"></script>
            <script src="{{ asset('/bootstrap/js/popper.min.js') }}"></script>
            <script src="{{ asset('/bootstrap/js/jquery-3.2.1.min.js') }}"></script>
            <script src="{{ asset('/bootstrap/js/bootstrap.bundle.js') }}"></script>
            <script src="{{ asset('/bootstrap/js/bootstrap.js') }}"></script>
            <script src="{{ asset('/nao/javascript/faq.js') }}"></script>
        {% endblock %}
    </head>

    <body>
        <div class="container-fluid">
            {% block header %}
                {% include "_header.html.twig" %}
            {% endblock %}

            {% block body %}{% endblock %}

            {% block footer %}
                {% include "_footer.html.twig" %}
            {% endblock %}
        </div>
    </body>
</html>
