{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap-reboot.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap-grid.css') }}">
    <link rel="stylesheet" href="{{ asset('/bootstrap/css/mdb.css') }}">
    <link rel="stylesheet" href="{{ asset('/awesomplete/awesomplete.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/base/header.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/base/header-mobile.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/base/footer.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/base/footer-mobile.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/apropos/apropos.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/apropos/apropos-mobile.css') }}">
{% endblock %}


{% block body %} 

        <div class="row">
            <div class="col-12 titre-bar4" id="titre-bar"><h1>A PROPOS</h1></div>
        </div>


        <div class="row body-apropos">
            <div class="col-lg-4 col-md-12 col-xs-12" id="image-apropos">
                <img class=" col-12 img-apropos" src="{{ asset('/img/img-a-propos.jpg') }}">
            </div>
            <div class="col-lg-8" id="apropos-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row" id="title-bar">
                            <div class="col-lg-1 col-md-0 col-xs-0 titre-bar2" id="titre-bar">
                            </div>
                            <div class="col-lg-3 col-md-0 col-xs-0 titre-bar3" id="titre-bar"><h1>A PROPOS</h1></div>
                            <div class="col-lg-8 col-md-0 col-xs-0"></div>
                        </div>
                    </div>
                    </div>
                <div class="row">
                    <p class="col-12 apropos-texte">
                        <p>
                            L'association NAO nos amis les oiseaux est une association de naturaliste d'oiseau destinée pour les amoureux
                            de l'ornithologie que ce soit les particuliers ou les naturalistes (professionnels).
                        </p>
                        <p>
                            Observez les oiseaux et partagez vos obeservation partout en France.
                        </p>
                        <p>
                            Prenez part à un programme de recherche visant à étudier les effet du climat, de l'urbanisation et de
                            l'agriculture sur la biodiversité.
                        </p>
                        <p>
                            Avec notre partenaire, le Muséum National d'histoire Naturelle, vous pourrez ainsi prendre part à l'étude
                            et l'observation des comportements des oiseaux de France en fonction des rythmes des saisons.
                        </p>
                        <p>
                            Vous pourrez également découvrir et obtenir un maximum d'informations sur toutes les espèces déjà référencées
                            dans notre base de données NAO.
                        </p>
                    <div class="row">
                        <div class="col-12">
                            <p class="chasseur">
                                Pour nos amis les chasseurs :
                            </p>
                            <p>
                                L'association NAO nos amis les oiseaux n'est pas destinée à la pratique de la chasse, elle ne vous autorise pas
                                à utiliser notre site.
                            </p>
                            <p>
                                Nous vous remercions par avance de votre compréhension.
                            </p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}