{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/bootstrap-grid.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/bootstrap-reboot.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/observe.css') }}">
    <link rel="script" href="{{ asset('/nao/javascript/observe.js') }}">
    <link rel="stylesheet" href="{{ asset('/css/style.base.css') }}">
{% endblock %}

{% block body %} 

    <h1>A Propos</h1>

{% endblock %}