{% extends "base.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('/nao/css/blog/blog.css') }}">
{% endblock %}

{% block body %} 

    <h1>Blog</h1>

{% if posts is empty %}
<p> Pas d'article</p>
{% endif %}

        {% for post in posts %}
            <ul>
                <li><img src="/img/blog/{{ post.image }}" alt="" width="300px"></li>
                <li>{{ post.title }}</li>
                <li>{{ post.author }}</li>
                <li>{{ post.date|date("m/d/Y") }}</li>
                <li>{{ post.article }}</li>
            </ul>
        {% endfor %}
{% endblock %}
