{% extends "base.html.twig" %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap-grid.css') }}">
    <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap-reboot.css') }}">
    <link rel="stylesheet" href="{{ asset('/awesomplete/awesomplete.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/base/header-xl.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/base/footer-xl.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/base/header-xl.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/contact/contact-xl.css') }}">
{% endblock %}

{% block body %} 

    <h1>Contact</h1>

{% endblock %}