{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap-reboot.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap-grid.css') }}">
    <link rel="stylesheet" href="{{ asset('/bootstrap/css/mdb.css') }}">
    <link rel="stylesheet" href="{{ asset('/awesomplete/awesomplete.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/base/header.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/base/header-mobile.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/base/footer.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/base/footer-mobile.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/faq/faq.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/faq/faq-mobile.css') }}">
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12 titre-bar4" id="titre-bar"><h1>FOIRE AUX QUESTIONS</h1></div>
    </div>

    <div class="row" id="title">
        <div class="col-lg-12">
            <div class="row" id="title-bar">
                <div class="col-lg-1 col-md-0 col-xs-0 titre-bar2" id="titre-bar"></div>
                <div class="col-lg-3 col-md-0 col-xs-0 titre-bar6" id="titre-bar"><h1>FOIRE AUX QUESTIONS</h1></div>
                <div class="col-lg-8 col-md-0 col-xs-0"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-0 col-xs-0"></div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-xs-12" id="faq-content">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Comment s'inscrire sur le site ?
                                <i class="fas fa-arrow-circle-down fa-2x"></i>
                            </button>
                        </h5>

                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            Il faut remplir le formulaire d'inscription avec les coordonnées demandées comme un nom, prénom et un email valide.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                Comment se connecter sur le site ?
                                <i class="fas fa-arrow-circle-down fa-2x"></i>
                            </button>
                        </h5>

                    </div>

                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            Se renseigner l'email et le mot de passe d'inscription.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Comment envoyer une observation sur le site ?
                                <i class="fas fa-arrow-circle-down fa-2x"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            Il faut se connecter sur le site après aller sur la page observation et remplir le formulaire pour soumettre l'observation pour une validation par un professionnel (naturaliste).
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Est-ce qu'on peut s'inscrire comme un naturaliste ?
                                <i class="fas fa-arrow-circle-down fa-2x"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            Il vous faut envoyer votre demande par email à cette adresse : info@nao.fr
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-0 col-xs-0"></div>
    </div>
    <div class="row">
        <div class="col-12 contact">
            <p>
                Si vous n'avez pas trouvé votre question, vous pouvez nous contacter en cliquant <a href="{{ asset('contact') }}">içi</a>
            </p>
        </div>
    </div>

{% endblock %}