{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap-reboot.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap-grid.css') }}">
    <link rel="stylesheet" href="{{ asset('/bootstrap/css/mdb.css') }}">
    <link rel="stylesheet" href="{{ asset('/awesomplete/awesomplete.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/base/header.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/base/header-mobile.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/base/footer.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/base/footer-mobile.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/faq/faq.css') }}">
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12 titre-bar4" id="titre-bar"><h1>FOIRE AUX QUESTIONS</h1></div>
    </div>

    <div class="row" id="title">
        <div class="col-lg-12">
            <div class="row" id="title-bar">
                <div class="col-lg-1 col-md-0 col-xs-0 titre-bar2" id="titre-bar"></div>
                <div class="col-lg-3 col-md-0 col-xs-0 titre-bar6" id="titre-bar"><h1>FOIRE AUX QUESTIONS</h1></div>
                <div class="col-lg-8 col-md-0 col-xs-0"></div>
            </div>
        </div>
    </div>

{% endblock %}