
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/style.homepage.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/bootstrap-grid.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/bootstrap-reboot.css') }}">
{% endblock %}

{% block body %}
    <div class="header-container">
        <div class="banner">
            <img class="logo" src="{{ asset('img/logoNAO.png') }}">
        </div>
        <br>
    </div>



    <div class="container">

        <button class="bloc1" href="{{ path('about') }}">A PROPOS</button>

        <button class="bloc2" href="{{ path('joinUs') }}">ADHERER</button>

        <button class="bloc3" href="{{ path('observe') }}">OBSERVER</button>

        <button class="bloc4" href="{{ path('login') }}">CONNEXION</button>

        <div class="bloc-description">
            <p>Bienvenue sur notre site</p>
        </div>

        <button class="bloc5" href="{{ path('map') }}">CARTE</button>

        <button class="bloc6" href="{{ path('contact') }}">CONTACT</button>

        <button class="bloc7" href="{{ path('faq') }}">F.A.Q's</button>

        <button class="bloc8" href="{{ path('blog') }}">BLOG</button>

    </div>
{% endblock %}
