
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/nao/css/style.homepage.css') }}">
{% endblock %}

{% block body %}
    <div class="header-container">
        <div class="banner">
            <img class="logo" src="{{ asset('/img/logoNAO.png') }}">
        </div>
        <br>
    </div>

    <div class="container">

        <div class="bloc1">
            <a href="{{ path('about') }}">
                <button>A PROPOS</button>
            </a>
        </div>

        <div class="bloc2">
            <a href="{{ path('joinUs') }}">
                <button>ADHERER</button>
            </a>
        </div>

        <div class="bloc3">
            <a href="{{ path('observe') }}">
                <button>OBSERVER</button>
            </a>
        </div>

        <div class="bloc4">
            <a href="{{ path('login') }}">
                <button>CONNEXION</button>
            </a>
        </div>

        <div class="bloc-description">
            <p>Bienvenue sur notre site</p>
        </div>

        <div class="bloc5">
            <a href="{{ path('map') }}">
                <button>CARTE</button>
            </a>
        </div>

        <div class="bloc6">
            <a href="{{ path('contact') }}">
                <button>CONTACT</button>
            </a>
        </div>

        <div class="bloc7">
            <a href="{{ path('faq') }}">
                <button>F.A.Q's</button>
            </a>
        </div>

        <div class="bloc8">
            <a href="{{ path('blog') }}">
                <button>BLOG</button>
            </a>
        </div>
    </div>
{% endblock %}
