{% extends "base.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('/nao/css/list-observations/list-observations.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/list-observations/list-observations-mobile.css') }}">
{% endblock %}

{% block body %}

    {% for message in app.flashes('notice') %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <div class="row" id="titre-bar-mobile">
        <div class="col-12"><h1>LISTE D'OBSERVATIONS</h1></div>
    </div>

    <div class="row" id="title">
        <div class="col-xl-1 col-lg-1 col-md-0 col-xs-0 space-bar"></div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-xs-12 titre-bar-pc" id="titre-bar">
            <h1>LISTE D'OBSERVATIONS</h1>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-0 col-xs-0"></div>
    </div>

    <div class="row" id="list-observations-block">
    {% for observation in observations %}
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" id="list-observations-content">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <img class="img-list-observations" src="/img/observations/{{ observation.image }}" alt="photo-observation">
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <p class="p-no-margin">Nom espece : {{ observation.commonName }}</p>
                    <p class="p-no-margin">Observé le : {{ observation.date|date("d/m/Y") }}</p>
                    <p class="p-no-margin">Coordonnés GPS : {{ observation.latitude }} / {{ (observation.longitude) }}</p>
                    <p class="p-no-margin">Observateur : {{ observation.user.firstName }} {{ observation.user.lastName }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}
