{% extends "base.html.twig" %}

{% block css %}

{% endblock %}

{% block body %} 

    <h1>Liste des observations</h1>

    {% for message in app.flashes('notice') %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
    {% endfor %}

    <ul>
        {% for observation in observations %}
            <li> Nom espece: {{ observation.commonName }} </li>
            <li> Observé le: {{ observation.date|date("m/d/Y") }} </li>
            <li> Observateur: {{ observation.user.firstName }} {{ observation.user.lastName }} </li>
            <li> Coordonnés GPS {{ observation.latitude }} / {{ (observation.longitude) }}</li>
            <li> Comentaire: {{ observation.content }} </li>
            <li><img src="/img/observations/{{ observation.image }}" alt=""></li>
        {% endfor %}
    </ul>
    
{% endblock %}
