{% extends "base.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('/nao/css/map/map.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/map/map-mobile.css') }}">
{% endblock %}

{% block body %} 


    {% for message in app.flashes('alert alert-warning alert-dismissible fade show') %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}


    <div class="row" id="titre-bar-mobile">
        <div class="col-12"><h1>LOCALISER LES OBSERVATIONS D'OISEAUX ENREGISTRÉES EN FRANCE</h1></div>
    </div>

    <div class="row" id="title">
        <div class="col-xl-1 col-lg-1 col-md-0 col-xs-0 space-bar"></div>
        <div class="col-xl-5 col-lg-5 col-md-12 col-xs-12 titre-bar-pc" id="titre-bar">
            <h1>LOCALISER LES OBSERVATIONS D'OISEAUX ENREGISTRÉES EN FRANCE</h1>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-0 col-xs-0"></div>
    </div>

    <div class="row" id="map-content">

        <div class="col-xl-2 col-lg-2 col-md-12 col-xs-12" id="block-form">
            {{ form_start(form,{'attr': {'class': 'connexion'}}) }}
            {{ form_errors(form) }}
            <h2>Rechercher un oiseau</h2>

            <div class="form-group">
                {{ form_row(form.commonName,{'label': 'Nom commun de l\'oiseau'}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.department,{'label': 'Département'}) }}
            </div>
            <div class="form-group" id="soumettre-bouton">
                <button id="soumettre" type="submit">Lancer la recherche</button>
            </div>
            {{ form_end(form) }}
        </div>


        <div class="col-xl-2 col-lg-2 col-md-12 col-xs-12" id="block-results">
            <div class="connexion">
                <h2>Résultats</h2>
                <div class="row">
                    <div class="col-12">
                        {% if observations is defined and observations is not empty %}
                            
                            <h3>Votre recherche:</h3>

                            <ul>
                                <li>{{ observations.0.commonName }}</li>
                            </ul>

                            <p>Il y a {{ observations|length }}
                                {% if observations|length > 1 %} résultats {% else %} résultat{% endif %}
                            </p>

                        <div class="form-group" id="soumettre-bouton">
                            <a href="{{ path('map_show_list',{'commonName': observations.0.commonName }) }}">
                                <button id="soumettre" type="submit">
                                    Voir {% if observations|length > 1 %} les résultats {% else %} le résultat{% endif %}
                                </button>
                            </a>
                        </div>
                        {% else %}
                            <img src="{{ asset('/img/moineau_domestique_rufer.jpg') }}" alt="photo-moineau-domestique" id="belle-image">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-6 col-lg-6 col-md-12 col-xs-12" id="block-map">
            <div class="map">
                <div id="map"></div>
            </div>
        </div>


        <div class="col-xl-2 col-lg-2 col-md-12 col-xs-12 align-self-end" id="block-15-obs">
            <div class="connexion">
               <div class="row">
                   <div class="col-12" id="img-observations">
                       <img src="{{ asset('/img/icon-geoloc.png') }}" alt="icone-géolocalisation" id="icone-géolocalisation">
                   </div>
               </div>
                <div class="row">
                    <div class="col-12" id="boutton-observation">
                        <a href="{{ path('list_observations') }}">
                            <button id="soumettre" type="submit">
                                Voir les 15 dernières observations
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </div>

    {% if mapInfos is defined and mapInfos is not empty %}
        <script type="text/javascript">
            var mapInfos = '{{ mapInfos | json_encode | raw }}';
        </script>
    {% endif %}

    {% block googleMap %}
        <script src="{{ asset('/awesomplete/awesomplete.js') }}"></script>
        <script src="{{ asset('/awesomplete/mapName.js') }}"></script>
        <script src="{{ asset('/awesomplete/mapDpt.js') }}"></script>
        <script src="{{ asset('/nao/javascript/map.js') }}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtUNzF7Ag5sywU7slf_Hcil0GmAhLqydI&language=fr&libraries=places&callback=initMap"></script>
    {% endblock googleMap %}

{% endblock %}

