{% extends "base.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('/nao/css/map/results-map.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/map/results-map-mobile.css') }}">
{% endblock %}

{% block body %}

    <div class="row" id="titre-bar-mobile">
        <div class="col-12"><h1>RÉSULTAT DE LA RECHERCHE</h1></div>
    </div>

    <div class="row" id="title">
        <div class="col-xl-1 col-lg-1 col-md-0 col-xs-0 space-bar"></div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-xs-12 titre-bar-pc" id="titre-bar">
            <h1>RÉSULTAT DE LA RECHERCHE</h1>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-0 col-xs-0"></div>
    </div>

    <div class="row" id="results-block">
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12" id="photo-block">
                    <img class="img-results" src="/img/observations/{{ observations[0].image }}" alt="">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12" id="results-content">
                    <h2>Fiche détaillée</h2>
                    <p>Règne: Animalia</p>
                    <p>Embranchement: Chordata</p>
                    <p>Clade: Ornithurae</p>
                    <p>Classe: Aves</p>
                    <p>Ordre: {{ birdInfos.order }}</p>
                    <p>Habitat: {{ birdInfos.habitat }}</p>
                    <p>Nom scientifique: {{ birdInfos.scientificNames|join(', ') }}</p>
                    <p>Nom commun: {{ birdInfos.commonName }}</p>
                    <p>Autheur: {{ birdInfos.author|join(', ') }}</p>
                    <a class="retour-map" href="{{ path('map') }}">
                        <button class="boutton-retour-map">Retour à la page recherche</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
    </div>


    <div class="observation-result">
    <h2>Il y à {{ observations|length }} {% if observations|length > 1 %} observations {% else %} observation{% endif %}</h2>
    <div class="row">
    {% for observation in observations %}
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <img class="img-results" src="/img/observations/{{ observation.image }}" alt="">
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <p class="p-no-margin">Observé le</p><p>{{ observation.date|date("d/m/Y") }}</p>
                    <p class="p-no-margin">Coordonnées GPS:</p>
                    <p class="p-no-margin">Latitude:</p><p>{{ observation.latitude}}</p>
                    <p class="p-no-margin">Longitude:</p><p>{{ observation.longitude }}</p>
                    <p class="p-no-margin">Observateur:</p><p>{{ observation.user.firstName }} {{ observation.user.lastName }}</p>
                    <p class="p-no-margin">Autres informations:</p><p>{{ observation.content }}</p>
                </div>
            </div>
        </div>
        </div>
    </div>


    {% endfor %}

{% endblock %}