{% extends "base.html.twig" %}

{% block body %}

    <h1>Carte-liste</h1>

    <div>
        <p>Une belle image</p>
        <p>Fiche détaillée</p>

        <p>Moineau domestique (Fringuilla domestica)</p>
        <p>Ordre: Passeriforme</p>
        <p>Habitat: Terrestre</p>
        <p>Autheur: (Bonaparte, 1828)</p>
    </div>

    <a href="{{ path('map') }}">
        <button>Retour à la page recherche</button>
    </a>

    <div>
        <p>Il y à {{ observations|length }} {% if observations|length > 1 %} observations {% else %} observation{% endif %}</p>

        {% for observation in observations %}
            <ul>
                <li><img src="/img/observations/{{ observation.image }}" alt=""></li>
                <li>{{ observation.date|date("d/m/Y") }}</li>
                <li>{{ observation.latitude }}</li>
                <li>{{ observation.longitude }}</li>
                <li>{{ observation.content }}</li>
            </ul>
        {% endfor %}
        
    </div>

{% endblock %}