{% extends "base.html.twig" %}

{% block body %}
    
    <h2>Mes Observations</h2>

        {% if obsValid is empty %}
        <p> Pas d'observation</p>
        {% endif %} 

        
        <caption>Observation(s) validé(s)</caption>
        <table class="table">
            <tbody>
                <tr>
                    <th>Photo</th>
                    <th>Nom Commun</th>
                    <th>Observé le</th>
                    <th>Autres informations</th>
                </tr>
                {% for observation in obsValid %}
                <tr>
                    <td>
                        <img src="/img/observations/{{ observation.image }}" alt="" width="50px">
                    </td>
                    <td>{{ observation.commonName }}</td>
                    <td>{{ observation.date|date("m/d/Y") }}</td>
                    <td>{{ observation.content }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <caption>Observation(s) en attente de validation</caption>
        <table class="table">
            <tbody>
                <tr>
                    <th>Photo</th>
                    <th>Nom Commun</th>
                    <th>Observé le</th>
                    <th>Autres informations</th>
                </tr>
                {% for observation in obsNotValid %}
                <tr>
                    <td>
                        <img src="/img/observations/{{ observation.image }}" alt="" width="50px">
                    </td>
                    <td>{{ observation.commonName }}</td>
                    <td>{{ observation.date|date("m/d/Y") }}</td>
                    <td>{{ observation.content }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock body %}