{% extends "base.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('/nao/css/observe/observe.css') }}">
    <link rel="stylesheet" href="{{ asset('/nao/css/observe/observe-mobile.css') }}">
{% endblock %}

{% block body %} 

    {% for message in app.flashes('alert alert-warning alert-dismissible fade show') %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <div class="row" id="titre-bar-mobile">
        <div class="col-12"><h1>SOUMETTRE UNE NOUVELLE OBSERVATION</h1></div>
    </div>

    <div class="row" id="title">
        <div class="col-xl-1 col-lg-1 col-md-0 col-xs-0 space-bar"></div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-xs-12 titre-bar-pc" id="titre-bar">
            <h1>SOUMETTRE UNE NOUVELLE OBSERVATION</h1>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-0 col-xs-0"></div>
    </div>

    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-0 col-xs-0"></div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-xs-12">
                {{ form_start(form,{'attr': {'class': 'connexion'}}) }}
                {{ form_errors(form) }}
                {{ form_row(form.latitude) }}
                {{ form_row(form.longitude) }}
                <div class="form-group">
                    {{ form_row(form.commonName, {'label': 'Nom commun de l\'oiseau'}) }}
                    <p>Besoin d'aide pour le nom de l'espèce ? <a href="http://www.oiseaux.net/oiseaux/france.html" target="_blank">cliquez-ici</a></p>
                </div>
                <div class="form-group">
                    {{ form_row(form.date, {'label': 'Date de l\'observation'}) }}
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-10" id="lieu">
                            {{ form_row(form.place, {'label': 'Lieu','attr': {'class': 'searchTextField'}}) }}
                        </div>
                        <div class="col-2" id="trouvez-moi">
                            <button id="findMe" type="button">
                                <i class="fas fa-map-marker-alt fa-2x" id="observer-icone"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form_row(form.place, {'label': 'Lieu','attr': {'class': 'searchTextField'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.numbers, {'label': 'Nombre d\'oiseaux'}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.image, {'label': 'Télécharger la photo de l\'especes'}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.content, {'label': 'Autres informations'}) }}
                </div>
                <div class="form-group" id="soumettre-bouton">
                    <button id="soumettre" type="submit">
                        <i class="fas fa-eye fa-1x" id="observer-icone"></i>
                        Soumettre l'observation
                    </button>
                </div>
                {{ form_end(form) }}
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-xs-12" id="form-map">
            <div id="map"></div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-0 col-xs-0"></div>
    </div>


















    <script>
        var input = document.getElementById("observation_commonName");
    </script>
    <script src="{{ asset('/awesomplete/awesomplete.js') }}"></script>
    <script src="{{ asset('/nao/javascript/observe.js') }}"></script>



{% endblock %}

