{% extends "base.html.twig" %} 

{% block body %} 

    <h1>Observer</h1>
    
    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.species) }}
        {{ form_row(form.date) }}
        {{ form_row(form.place) }}
        <button id="findMe" type="button">Trouvez moi</button>
        {{ form_row(form.latitude) }}
        {{ form_row(form.longitude) }}
        {{ form_row(form.numbers) }}
        {{ form_row(form.imageFile) }}
        {{ form_row(form.content) }}
        <button type="submit">Soumettre l'observation</button>
    {{ form_end(form) }}

    <div id="map"></div>

    <script src="/nao/javascript/observe.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtUNzF7Ag5sywU7slf_Hcil0GmAhLqydI
        &callback=initMap&language=fr&libraries=places">
    </script>

{% endblock %}

