{% extends "base.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('/nao/css/observe/observe.css') }}">
{% endblock %}

{% block body %} 

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    <h1>Observer</h1>
    
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.commonName, {'label': 'Nom commun de l\'oiseau'}) }}
        {{ form_row(form.date, {'label': 'Date de l\'observation'}) }}
        {{ form_row(form.place, {'label': 'Lieu','attr': {'class': 'searchTextField'}}) }}
        <button id="findMe" type="button">Trouvez moi</button>
        {{ form_row(form.numbers, {'label': 'Nombre d\'oiseaux'}) }}
        {{ form_row(form.image, {'label': 'Télécharger la photo de l\'especes'}) }}
        {{ form_row(form.content, {'label': 'Autres informations'}) }}
        {{ form_row(form.latitude) }}
        {{ form_row(form.longitude) }}
        <button type="submit">Soumettre l'observation</button>
    {{ form_end(form) }}

    <div id="map"></div>

    <script>
        var input = document.getElementById("observation_commonName");
    </script>
    <script src="{{ asset('/awesomplete/awesomplete.js') }}"></script>
    <script src="{{ asset('/nao/javascript/observe.js') }}"></script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtUNzF7Ag5sywU7slf_Hcil0GmAhLqydI
        &callback=initMap&language=fr&libraries=places">
    </script>

{% endblock %}

